<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <form action="/users/register/add" method="post" enctype="multipart/form-data">
            <lable>First Name</lable><input name="first_name" id="first_name"><br />
            <lable>Last Name</lable><input name="last_name" id="last_name"><br />
           <lable>Task</lable><input name="task[task_name]" id="task_name"><br />
            <lable>Email</lable><input name="email" id="email"><br />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>