					<tr bgcolor="#ffffff">
						<td valign="top" align="left" style="font-size: 15px;color: #000000;font-family: arial;padding:5px 15px 30px; font-weight: bold; text-align: <%= data.lang === 'ar' ? 'right' : 'left'; %>;">
							<%=__('Thanks')%>,<br><%=__('WikCare Team')%><br/>info@wikicare.co
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
